<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KESIA</title>
    <style>
    
        h1 {
            color: blueviolet;
        }
        
       .padding-15px {
        padding: 15px;
       }
       .botao-saiba-mais{
        background-color: blueviolet;
        border: solid 1px;
        color: black;
        border-radius: 10rem;
       }
      
        .paragrafo{
            color: rgb(147, 20, 220);
        }

    </style>
</head>

<body>
    <header>
        <nav>
            <a href="kesia.html" class="padding-15px">HTML.CSS</a>
            <br>
            <a href="https://am.senac.br/"  class="padding-15px">Senac</a>
             

        </nav>
    </header>
    <main>

        <h1>Olá! Bem Vindo a minha Pagina!</h1>
        <img src="static/img/KESIA IMG.jpg" alt="Foto perfil Kesia" width="100">
        <button type="button" class="botao-saiba-mais">saiba mais</button>
        <section></section>
        <article></article>
        <p id="kesia"></p>
    </main>
    <footer class="paragrafo">
        <p>Desenvolvimento por Kesia</p>
    </footer>
    <script>
        document.getElementById("kesia").innerHTML = "Texto do JavaScript"
    </script>


</body>

</html>