<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fahrenheit 451</title>
    <link rel="icon" type="image/x-icon" href="../../static/img/perfilicon.png">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style1.css">
    <link rel="stylesheet" href="../../static/css/headerFooter.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/paleta.png" alt="Logo" width="50" height="35"
                        class="d-inline-block align-text-top">

                    Web Design
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justifyContentEnd" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="../../templates/index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../../templates/projetos.html">Portfólio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://www.instagram.com/kesiamatos_art/profilecard/?igsh=aDNjc2J6amt6d3hl"
                                aria-disabled="true">

                                <img src="../../static/img/iconeinsta.png" alt="" width="30" height="24">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/share/15Vyc3G1FE/" aria-disabled="true">
                                <img src="../../static/img/iconefacebook.png" alt="" width="30" height="24">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="col margem-article">
                        <div class="alinhamentoImg">
                            <img src="../../static/img/imagemdolivro.jpg" alt="imagem do livro" width="230 ">
                        </div>

                        <h1 class="font-size-h1"> Fahrenheit 451 </h1>
                        <h2 class="font-size-h2">Temas recorrentes</h2>
                        <span class="fonte-letra alinhamentoTexto">
                            <p>
                                O romance reflete importantes temas inquietantes da época de sua escrita, deixando
                                muitos
                                interpretarem
                                diferentemente do que pretendia Bradbury.
                            </p>
                            <p>
                                Entre
                                os temas atribuídos para o romance, o que Bradbury
                                chamou de "força destruidora de pensamentos" da censura nos anos 50, os incêndios de
                                livros na
                                Alemanha Nazista que começaram em e as horríveis consequências da explosão de uma arma
                                nuclear:

                                Eu quis dizer qualquer espécie de tirania, em qualquer parte do mundo, a qualquer hora,
                                na
                                direita, na
                                esquerda ou no centro.
                            </p>
                            <p>
                                Uma circunstância particularmente irônica é que, sem o conhecimento de
                                Ray Bradbury , foi publicada uma
                                edição censurada em 1967 , omitindo as palavras
                                "droga"
                                e
                                "inferno", para a distribuição em escolas.
                                Edições posteriores (com todas as palavras, sem omissões) incluíram um epílogo do autor
                                descrevendo este
                                evento e outros pensamentos adicionais sobre censura e revisionismo "bem-intencionados".
                            </p>
                        </span>


                    </article>
                </div>
                <div class="col-md-12">
                    <aside class="col margem-aside">
                        <div class="kesia1 padding-20px tamanho-fonte-bloco">

                            <p> Há mais de um jeito de queimar um livro. E o mundo está cheio de
                                pessoas por aí com caixa de fósforos.

                                Cada
                                minoria, seja batista, unitária, irlandesa, italiana, octagenária, zen-Budista,
                                sionista,
                                adventista,
                                feminista, republicana, homossexual, quadrangular, acha que tem o direito, ou o dever,
                                de dosar
                                o
                                querosene
                                e acender o fogo. O chefe do corpo de bombeiros, capitão Beatty, em meu romance
                                Fahrenheit 451,
                                descreve
                                como os livros foram queimados primeiramente pelas minorias, rasgando uma página ou
                                duas. Depois
                                disso,
                                quando os livros já estiverem vazios e as cabeças fechadas, a livraria fechará para
                                sempre.
                            </p>
                            <p>
                                penas há seis semanas, eu descobri que, através dos anos, alguns editores da Ballantine
                                Books,
                                com
                                medo
                                de 'contaminar' os jovens, tinham, pouco a pouco, censurado 75 seções separadas de meu
                                romance.
                                Os
                                estudantes, lendo meu livro, me escreveram para me contar essa delicada ironia.
                                Judy-Lynn del
                                Rey,
                                um
                                dos
                                novos editores da Ballantine Books, está reeditando o livro inteiro novamente e
                                republicando
                                nesse
                                verão,
                                com todos os 'diabos' e 'infernos' de volta a seu lugar.</p>
                        </div>

                        <div class="kesia2 padding-20px tamanho-fonte-bloco">

                            <h3> Fahrenheit 451</h3>

                            <p>
                                Autor(es): Ray Bradbury <br>
                                Idioma: inglês <br>
                                País: Estados Unidos Estados Unidos <br>
                                Editora: Estados Unidos Ballantine Books<br>
                                Lançamento: 1953<br>
                                Páginas: 159 (edição original em inglês)<br>
                                Edição: portuguesa<br>
                                Tradução: Mário-Henrique Leiria (LB); Teresa da Costa Pinto Pereira (PEA)<br>
                                Editora: Livros do Brasil (1956, 1968); Publicações Europa-América (2002, 2011)<br>
                                ISBN: 978-972-1-05086-0 (PEA)<br>
                                Edição: brasileira<br>
                                Tradução: Cid Knipel (Editora Globo)<br>
                                Editora: Melhoramentos (1988-90)<br>
                                Círculo do Livro (1991-2002)<br>
                                Globo/Biblioteca Azul (2003-presente)<br>




                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="card-footer bg-body-tertiary text-center">
            Desenvolvido por Kesia Matos
        </div>
    </footer>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>