<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio de Kesia</title>
    <link rel="stylesheet" href="static/css/bootstrap/portifoliok.css">
    <script></script>
</head>
<body>
    <header>
        <nav class=""></nav>
        <a href="">Home</a>
        <a href=""></a>
        <a href=""></a>
    </header>
   
    <main></main>
    <section></section>

    <article class="">
        <img src="static/img/fotoportifolio.jpg" alt="" width="500"></article>
        <img src="static/img/iconehtml.png" alt="" width="50">
        <img src="static/img/iconecss.png" alt=""width="50">
        <img src="static/img/icone jss.png" alt=""width="80">
        
        <h1>Olá! Bem-vindo ao meu portfólio!</h1>
        <p>Sou kesia Matos, estudante de web design e design gráfico. Durante meu curso, desenvolvi habilidades que me permitem criar experiências visuais atraentes e funcionais. Meu foco é combinar criatividade e técnica para trazer ideias à vida.

            Neste portfólio, você encontrará uma seleção dos meus projetos acadêmicos e pessoais, que refletem minha jornada de aprendizado e minha paixão pelo design. Cada peça foi criada com atenção aos detalhes e uma forte compreensão das necessidades dos usuários.
            
            Estou animado(a) para continuar explorando o mundo do design e estou aberto(a) a oportunidades de colaboração e aprendizado.
            
            Obrigado por visitar!</p>
    <aside></aside>


    <footer></footer>



    <script></script>

</body>
</html>